/* =========================================== *\
 * Button styling
\* =========================================== */

.btn {
	position: relative;
	display: block;
	margin: 0;
	padding: 13px;
	border-width: 1px;
	border-style: solid;
	border-radius: 6px;
	text-decoration: none;
	cursor: pointer;
	vertical-align: middle;

	@include bp(m) {
		padding: 10px 15px;
	}

	user-select: none;
	transition: background-color 250ms, color 250ms, border-color 250ms;
	white-space: nowrap;
	touch-action: manipulation;
	@include font-size(18, 20);

	&:focus,
	&:active:focus,
	&.active:focus,
	&.focus,
	&:active.focus,
	&.active.focus {
		outline: thin dotted;
		outline: 5px auto -webkit-focus-ring-color;
		outline-offset: -2px;
	}

	&:active,
	&.active {
		outline: 0;
		-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
		        box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	}

	.lt-ie8 & {
		padding-left: 10px;
	}
}
