/* =========================================== *\
 * Variables
\* =========================================== */

// Typography
$FONT_BASE: 16;

// Brand colors
$twitter-color: #46c0fb;
$wordpress-color: #464646;
$linkedin-color: #0083a8;
$github-color: #171515;
$slideshare-color: #0f8989;
$keybase-color: #ff5a00;
