/* =========================================== *\
 * Variables
\* =========================================== */

// Typography
$FONT_BASE: 16;

// Brand colors
$twitter-color: #46c0fb;
$linkedin-color: #0083a8;
$github-color: #171515;
$keybase-color: #ff5a00;
