/* =========================================== *\
 * Mixins
\* =========================================== */

// ==========================================================================
// CLEARFIX
// ==========================================================================
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    `contenteditable` attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that receive the `cf` class.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.

@mixin clearfix-micro() {
	&:before,
	&:after {
		content: " "; /* 1 */
		display: table; /* 2 */
	}

	&:after {
		clear: both;
	}
}

// ==========================================================================
// FONTS
// ==========================================================================

@mixin font-size($px, $lh: false) {
	@if (unitless($px) == false) {
		@error "The font-size mixin expects the first parameter to be a unitless number. `#{$px}` was provided.";
	}

	font-size: #{$px}px;
	font-size: #{$px/$FONT_BASE}rem;

	@if $lh != false {
		@if (unitless($lh) == false) {
			@error "The font-size mixin expects the second parameter to be a unitless number. `#{$lh}` was provided.";
		}

		/* line-height: #{$lh}px; */
		line-height: #{$lh/$px};
	}
}
