/* =========================================== *\
 * Variables
\* =========================================== */

// Typography
$FONT_BASE: 16;

// Brand colors
$twitter-color: #46c0fb;
$instagram-color: #3f729b;
$wordpress-color: #464646;
$linkedin-color: #0083a8;
$github-color: #171515;
$stackoverflow-color: #f18436;
