/* =========================================== *\
 * BASE STYLES
\* =========================================== */

html {
	box-sizing: border-box;

	-webkit-tap-highlight-color: rgba($color-brand-primary, .5);
	@include font-base-regular();
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	min-width: $min-width;

	@include font-size($paragraph-font-size, $paragraph-line-height);
}

.wrapper {
	overflow-x: hidden;
	max-width: $max-width;
	margin: auto;
}
