/* =========================================== *\
 * TYPOGRAPHY
\* =========================================== */

a {
	color: $link-color-default;
	text-decoration: underline;

	transition-duration: 200ms;
	transition-property: color, background-color, border-color;

	&:focus,
	&:hover {
		color: $link-color-hover;
	}

	&:active {
		color: $link-color-active;
	}
}

ul.nav {
	margin: 0;
	padding: 0;
	list-style: none;

	& > li {
		display: inline-block;
		margin-top: 0;
	}
}
