/* =========================================== *\
 * Variables
\* =========================================== */

// Typography
$FONT_BASE: 16;

$color-default-background: #fafafa;
$color-default-text: #333;
$color-brand-teal: #004444;

$color-border: #000;

// links
$link-color-default: $color-default-text;
$link-color-visited: $color-default-text;
$link-color-hover: $color-brand-teal;
$link-color-active: darken($color-brand-teal, 10);
